@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body 
{
    background:#000;
    font-family:BebasNeueRegular, Arial, Helvetica;
}

/**GLOBAL STYLES**/
.font_yellow
{
    color: #d2aa41 !important;
}
.bold
{
    font-weight:bold;
}
.italic
{
    font-style:italic;
}
a:link              { color:inherit; text-decoration:inherit; }
a:visited           { color:inherit; text-decoration:inherit; }
a:hover             { color:inherit; text-decoration:inherit; }
a:active            { color:inherit; text-decoration:inherit; }
.clearfix
{
    clear:both;
}
.header_wrapper
{
    width:100%;
    background-color:#424242;
    height:150px;
    margin-bottom:45px;
}
.header
{
    width:1200px;
    height:150px;
    margin:0 auto;
    background: url('../images/header_bg.jpg') no-repeat;
}
#header_logo
{
    margin-left:190px;
    float:left;
    position:relative;
    z-index:1;
}
.header_description
{
    margin-left:40px;
    width:519px;
    height:167px;
    background: url('../images/header_desc.png') no-repeat;
    float:left;
    margin-top:25px;
}
.yellow_divider
{
    height:2px;
    width:100%;
    background-color:#d2aa41;
}
.content_wrapper
{
    background:#111111;
}
.content
{
    width:1200px;
    height:505px;
    margin:0 auto;
}
.content_wrapper .left_shadow
{
    width:156px;
    height:335px;
    background: url('../images/left_shadow_main.png') no-repeat;
    float:left;
    margin-top:50px;
}
.content_wrapper .right_shadow
{
    width:128px;
    height:335px;
    background:url('../images/right_shadow_main.png') no-repeat;
    float:left;
    margin-top:50px;
}
.content_picture
{
    width:327px;
    height:453px;
    background: url('../images/content_picture_bg.png') no-repeat;
    float:left;
    margin-top:-47px;
}
.content_picture img
{
    margin-top:2px;
}
.content .player_bio
{
    float:left;
    margin-left:-25px;
}
.content .player_bio .opportunity
{
    float:left;
    font-size:17px;
    padding:12px 0px;
    font-family:Arial, Helvetica;
}
.opportunity .font_yellow img
{
    margin-left:4px;
}
.player_bio .detailed_bio
{
    float:left;
    width:387px;
    height:256px;
    background:url('../images/player_bio.png') no-repeat;
    margin-top:3px;
    font-family:Arial, Helvetica;
    padding:22px 7px 22px 15px;
}
.player_bio .detailed_bio .player_name, .player_bio .player_stats .stats
{
    font-size:24px;
    font-family:BebasNeueRegular;
    margin-bottom:12px;
}
.player_bio .detailed_bio .about_player, .player_bio .player_stats .about_player
{
    font-size:14px;
    line-height:17px;
}
.player_bio .player_stats .about_player
{
    line-height:22px;
}
.lh_fix
{
    line-height:16px;
    display:block;
    margin:5px 0px;
}
.player_bio .detailed_bio .view_full_bio, .player_stats .view_more
{
    font-size:14px;
    color:#0078a8;
    line-height:30px;
}
.vertical_shadow
{
    height:297px;
    width:12px;
    background:url('../images/vertical_shadow_btw.png') no-repeat;
    float:left;
}
.player_bio .player_stats
{
    float:left;
    height:256px;
    width:143px;
    background: url('../images/player_stats.png') no-repeat;
    margin-top:4px;
    font-family:Arial, Helvetica;
    padding:22px 22px 22px 15px;
}

/***** long button sprites *****/
.long_button
{
    margin-left:153px;
    margin-top:15px;
    float:left;
}
.long_btn_2
{
    background:url('../images/long_btn_sprites.png') no-repeat;
    background-position: 0 -125px;
    width: 906px;
    height: 61px;
}
.long_btn
{
    background:url('../images/long_btn_sprites.png') no-repeat;
    background-position: 0 0;
    width: 906px;
    height: 61px;
}
.long_btn_1
{
    background:url('../images/long_btn_sprites.png') no-repeat;
    background-position: 0 -62px;
    width: 906px;
    height: 61px;
}
.long_btn_shadow
{
    margin-left:153px;
    background:url('../images/long_btn_sprites.png') no-repeat;
    background-position: 0 -187px;
    width: 904px;
    height: 27px;
}
.long_button .see_player
{
    display:block;
    width:550px;
    height:34px;
    margin-left:50px;
    margin-top:8px;
    float:left;
    text-align:center;
    font-size:27px;
    color:#f2e6c8;
    padding-top:11px;
    text-shadow: #000000 2px 2px 2px;
}
.long_button .fan_packages
{
    float:left;
    width:256px;
    height:34px;
    margin-top:8px;
    margin-left:25px;
    text-align:center;
    font-size:27px;
    color:#f2e6c8;
    padding-top:11px;
    text-shadow: #000000 2px 2px 2px;
}
.class_list
{
    width:1062px;
    margin:0 auto;
    padding-top:25px;
}
.class_of
{
    width:908px;
    margin-left:92px;
    text-align:center;
}
.class_of_players
{
    margin-top:12px;
    height:100px;
}
.player_img
{
    float:left;
    margin-left:2px;
}
.player_img.first
{
    margin-left:0px !important;
}
.player_names_bg
{
    height:45px;
    margin-top:2px;
    background:url('../images/player_names_bg.png') no-repeat;
    padding-left:92px;
    padding-top:4px;
    line-height:19px;
}
.player_names_bg .player_name
{
    text-align:center;
    font-family:BebasNeueRegular, Arial, Helvetica;
    width:126px;
    float:left;
    color:#c0c0c0;
    font-size:22px;
    margin-left:2px;
}
.commercials
{
    width:910px;
    margin:50px auto 60px auto;
    height:310px;
}
#golden_anniversary
{
    float:left;
    width:335px;
    position:relative;
}
#golden_anniversary .logo_small
{
    float:left;
}
.ga_desc
{
    left:100px;
    position:absolute;
    color:#ebebeb;
    float:left;
    padding-top:4px;
}
.ga_desc h3
{
    font-size:22px;
    padding-left:20px;
}
.ga_desc p
{
    margin-top:10px;
    padding-left:20px;
    font-size:14px;
    color:#ebebeb;
    font-family:Arial, Helvetica;
}
.ga_desc a
{
    display:block;
    padding-top:10px;
    float:left;
}
.ga_desc img
{
    margin-top:10px;
    float:left;
}
.line_divider
{
    width:205px;
    height:1px;
    background-color:#424242;
}
#hall_of_fame
{   
    float:left;
    width:256px;
    height:314px;
    background:url('../images/get_game_tickets_frame.png') no-repeat;
    position:relative;
    margin-right:28px;
}
.game_announcment
{
    width:230px;
    height:80px;
    padding-top:25px;
    margin-left:10px;
    text-align:center;
}
.game_announcment .game_title
{
    font-size:24px;
    font-family:BebasNeueRegular, Arial, Helvetica;
}
.game_announcment .teams
{
    font-size:12px;
    font-family:Arial, Helvetica;
}
.game_announcment .time
{
    font-size:12px;
    font-family:Arial, Helvetica;
    font-weight:bold;
}
#hall_of_fame .place
{
    width:188px;
    color:#FFF;
    font-size:12px;
    font-family:Arial, Helvetica;
    left:35px;
    bottom:15px;
    text-align:center;
    position:absolute;
}

#nfl_on_location
{
    float:left;
    width:235px;
    position:relative;
}
#nfl_on_location .logo_small
{
    float:left;
}
.nfl_desc
{
    left:84px;
    position:absolute;
    color:#ebebeb;
    float:left;
    padding-top:4px;
}
.nfl_desc h3
{
    font-size:22px;
    padding-left:20px;
}
.nfl_desc p
{
    margin-top:10px;
    padding-left:20px;
    font-size:14px;
    color:#ebebeb;
    font-family:Arial, Helvetica;
}
.nfl_desc a
{
    display:block;
    padding-top:10px;
    float:left;
}
.nfl_desc img
{
    margin-top:10px;
    float:left;
}
.line_divider
{
    width:205px;
    height:1px;
    background-color:#424242;
}
.line_divider_full
{
    width:100%;
    height:1px;
    background-color:#424242;
    float:left;
}
.footer_wrapper
{
    width:100%;
}
.footer
{
    padding:55px 0 100px 0;
    margin:0 auto;
    width:440px;
    color:#959595;
    text-align:center;
    font-family:Arial, Helvetica;
    font-size:12px;
}
.get_your_tickets
{
    width:188px;
    height:45px;
    display:block;
    margin-top:105px;
    margin-left:43px;
}